In [9]:
import pandas as pd
df = pd.read_csv('fifa_player_performance_market_value.csv')
df.head()

,player_id,player_name,age,nationality,club,position,overall_rating,potential_rating,matches_played,goals,assists,minutes_played,market_value_million_eur,contract_years_left,injury_prone,transfer_risk_level
0,1,Player_1,23,Germany,Liverpool,ST,65,87,8,6,14,2976,122.51,3,No,Low
1,2,Player_2,36,England,FC Barcelona,ST,90,76,19,3,18,2609,88.47,5,No,High
2,3,Player_3,31,France,Juventus,RB,75,91,34,12,15,1158,20.24,3,No,Medium
3,4,Player_4,27,Portugal,Manchester City,LW,90,86,35,18,13,145,164.29,0,Yes,Medium
4,5,Player_5,24,Brazil,Liverpool,CDM,84,96,41,6,6,2226,121.34,4,No,Low

In [10]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 2800 entries, 0 to 2799
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   player_id                 2800 non-null   int64
 1   player_name               2800 non-null   str
 2   age                       2800 non-null   int64
 3   nationality               2800 non-null   str
 4   club                      2800 non-null   str
 5   position                  2800 non-null   str
 6   overall_rating            2800 non-null   int64
 7   potential_rating          2800 non-null   int64
 8   matches_played            2800 non-null   int64
 9   goals                     2800 non-null   int64
 10  assists                   2800 non-null   int64
 11  minutes_played            2800 non-null   int64
 12  market_value_million_eur  2800 non-null   float64
 13  contract_years_left       2800 non-null   int64
 14  injury_prone              2800 non-null   str
 15  transfer_risk_level       2800 non-null   str
dtypes: float64(1), int64(9), str(6)
memory usage: 350.1 KB

In [11]:
df.isnull().sum()

player_id                   0
player_name                 0
age                         0
nationality                 0
club                        0
position                    0
overall_rating              0
potential_rating            0
matches_played              0
goals                       0
assists                     0
minutes_played              0
market_value_million_eur    0
contract_years_left         0
injury_prone                0
transfer_risk_level         0
dtype: int64

In [12]:
df["club"].value_counts()

club
Juventus           439
Liverpool          412
Bayern Munich      396
Real Madrid        394
Manchester City    393
PSG                388
FC Barcelona       378
Name: count, dtype: int64

In [13]:
df.dropna(how="all", inplace=True)

In [14]:
df.drop_duplicates(inplace=True )

In [16]:
df = df[df["age"] > 30]

In [18]:
df.describe()

,player_id,age,overall_rating,potential_rating,matches_played,goals,assists,minutes_played,market_value_million_eur,contract_years_left
count,1106.000000,1106.000000,1106.000000,1106.000000,1106.000000,1106.000000,1106.000000,1106.000000,1106.000000,1106.000000
mean,1407.169078,35.044304,76.737794,81.277577,27.433996,19.099458,12.076854,2237.242315,89.331483,2.466546
std,820.148140,2.619597,9.986324,9.727592,16.214615,11.757853,7.146968,1275.362131,51.599411,1.680676
min,2.000000,31.000000,60.000000,65.000000,0.000000,0.000000,0.000000,5.000000,0.850000,0.000000
25%,693.500000,33.000000,68.000000,73.000000,14.000000,9.000000,6.000000,1158.500000,43.920000,1.000000
50%,1396.000000,35.000000,76.000000,81.000000,27.000000,19.000000,12.000000,2225.500000,87.310000,2.000000
75%,2129.500000,37.000000,85.000000,89.000000,42.000000,30.000000,18.000000,3326.500000,134.022500,4.000000
max,2800.000000,39.000000,94.000000,98.000000,54.000000,39.000000,24.000000,4497.000000,179.780000,5.000000